/* 
#title-container {
	background: #E1EFF5;
}
*/

body {
	background: #E1EFF5;
}

#kane-card {
	background: transparent;
}

#mount-card {
	background: transparent;
}

#trent-card {
	background: transparent;
}