/* 
#title-container {
	background: #E1EFF5;
}
*/

body {
	background: #E1EFF5;
}

#title-container {
	margin-top: 2rem;
}

.nav-menu li {
	display: inline;
}

#nav-menu {
	display: inline-block;
    margin-bottom: 1rem;
}

#intro-nav {
	color: #f7fbff;
	font-size: 30px;
}

#tactics-nav {
	color: #f7fbff;
	font-size: 30px;
}

#kane-nav {
	color: #f7fbff;
	font-size: 30px;
}

#mount-nav {
	color: #f7fbff;
	font-size: 30px;
}

#tactics-title {
	color: #EA1F29;
	font-weight: 700;
}

#red-span {
	color: #EA1F29;
	font-weight: 700;
}

#blue-span {
	color: #2B57AC;
}

div.tooltip {
	position: absolute;
	text-align: center;
	padding: .2rem;
	background: #313639;
	color: #f9f9f9;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	font-size: .7rem;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
  }

h1,h2,h3,h4,h5 {
	font-weight: 700;
}

h5 {
  pointer-events: none;
  cursor: default;
}