/* 
#title-container {
	background: #E1EFF5;
}
*/

body {
	background: #E1EFF5;
}

#title-container {
	margin-top: 2rem;
}

.nav-menu li {
	display: inline;
}

#nav-menu {
	display: inline-block;
    margin-bottom: 1rem;
}

#intro-nav {
	color: #f7fbff;
	font-size: 40px;
}

#tactics-nav {
	color: #f7fbff;
	font-size: 40px;
}